* {
	box-sizing: border-box;
	font-family: monospace;
	color: #30343F;
}

body {
	height: 100vh;
	width: 100vw;
	padding: 2rem;
	margin: 0;
}

button {
	cursor: pointer;
	border-radius: 0.3em;
	box-shadow: inset 0 2px 4px 0 rgb(0 0 0/0.05);
	display: inline-flex;
  align-items: center;
  justify-content: center;
}

#word {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 3em 0;
}

.letter {
	width: 3em;
	height: 3em;
	background: #B1E4E7;
	font-size: 1.5rem;
	border-radius: 0.5em;
	margin: 0.3em;
	display: inline-grid;
	place-items: center;
}

.info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.submittedLetters {
	width: 21em;
	background: #E0F4F6;
	border-radius: 0.5em;
	padding: 0.5em;
}

#submittedLetters {
	padding: 0;
	min-height: 3em;
}

#submittedLetters li {
	display: inline;
	margin: 0.7em;
}

#lifes {
	font-size: 1.3em;
}

#lifes p {
	margin: 1em;
}

#keyboard {
	margin: 2em auto;
	width: max-content
}

#keyboard .row {
	width: max-content;
	margin: 0 auto;
}

#keyboard button {
  width: 2.2em;
  height: 2.2em;
  margin: 0.2em;
	background: #C6CFD2;
	cursor: pointer;
	border: transparent;
}

#keyboard button:hover,
#keyboard button:focus {
	background: #9FBCC1;
}

dialog {
	border-radius: 0.5em;
	color: #30343F;
	box-shadow: 0 4px 6px -1px rgb(0 0 0/0.1),0 2px 4px -2px rgb(0 0 0/0.1);;
}

dialog form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 0.2em;
}

dialog menu {
	padding: 0;
	margin: 0;
	align-self: flex-end;
}

dialog button {
	padding: 0.5em;
	cursor: pointer;
	background-color: #B1E4E7;
	border: 0.12rem solid #30343F;
	border-radius: 0.5em;
}

dialog button:hover,
dialog button:focus {
	background-color: #A1DFE2;
}

dialog p {
	font-size: 1.2rem;
}