* {
	box-sizing: border-box;
}

.letter {
	width: 3em;
	height: 3em;
	background: lightblue;
	border-radius: 0.5em;
	display: inline-block;
	margin: 0.5em;
}

#keyboard {
	margin: 0 auto;
	width: max-content
}

#keyboard .row {
	width: max-content;
	margin: 0 auto;
}

#keyboard button {
  width: 2em;
  height: 2em;
  margin: 0.2em;
}